/*-------------Standard Reusable Classes-----------*/ 

.standard_floating_div {
	width: 90%;
	float: left;
	margin-top: 5px;
}
.standard_floating_div_b{
	width: 90%;
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
}
.standard_menu {
	float: left;
	width: 100%;
	margin-top: 5px;
	padding-left: 2px;
	margin-bottom: 10px;
}
/*--------------------errors-----------------------*/
.std_error {
	text-decoration: none;
	font-weight: bold;
	font-size: small;
	color: #CC3300;
}
.login_error {
	float: left;
	height: 40px;
	width: 90%;
	font-weight: bold;
	font-size: small;
	color: #CC3300;
}
.login_content {
	float: left;
	width: 90%;
}
.login_header {
	float: left;
	width: 90%;
}
.login_row {
	float: left;
	width: 90%;
}
.login_submit {
	margin-top: 10px;
	float: left;
	width: 90%;
	margin-left: 10px;
}

/*--------------------standard menus------------------*/
.standard_menu {
	float: left;
	width: 100%;
	margin-top: 5px;
	padding-left: 2px;
	margin-bottom: 20px;
}
/*-------------------- basic---------------------*/ 
body {
	background-color: #FFFFFF;
	color: #333333;
	font-family: "Trebuchet MS", "Luxi Sans",Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

td, select, input, select {
	font: normal 1em "Trebuchet MS",  "Luxi Sans", Verdana,Helvetica, Arial, sans-serif;
}

.hidden
        {
        position:absolute;
        left:0px;
        top:-500px;
        width:1px;
        height:1px;
        overflow:hidden;
        }


a, a:link{
	color: #2A54AA;
	outline: none;
}

a:visited{
	color: #22468C;
}

a:hover, a:visited:hover{
	color: #3060C1;
}

a:active{
	color: #FF9933;
}

a img{
	border: 0;
}

p{
	margin: 0;
	padding: 6px 0;
}

td, th{
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.clearme:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.right{
	text-align: right;
}

/*-------------------- headers---------------------*/ 
h1{
	color: #111111;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	text-align: left;
}

h2{
	color: #222222;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3em;
	margin: 6px 0 0 0;
	padding: 0px;
}

h3{
	color: #333333;
	font-size: 18px;
	font-weight: normal;
	margin: 5px 0 5px 0;
	padding: 0;
}

h4{
	font-size: 16px;
	margin: 0;
	padding: 0 0 5px 0px;
}

h5{
	font-size: 14px;
	margin: 0;
	padding: 0 0 5px 0;
}

h6{
	font-size: 1em;
	margin: 0 10px;
	padding: 0;
}

/*-------------------- forms---------------------*/ 
form{
	margin: 0;
	padding: 0;
}

input, textarea{
	background-color: #F9F9F9;
	border: 1px solid #333333;
	color: #666666;
	padding: 1px 2px;
	vertical-align: baseline;
}
 input [type="checkbox"] {
border:0px !important;
padding:0 !important;
}
 .check {
border:0px !important;
padding:0 !important;
}

input:focus, textarea:focus{
	background-color: #FEFEFE;
	border: 1px solid #2A54AA;
	color: #333333;
}

input.button{
	background-color: #4070CF;
	background-image: url(../img/bg_button.png);
	background-repeat: repeat-x;
	border: 1px solid #22468C;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 0 8px;
	text-decoration: none;
}

.button{
	background-color: #4070CF;
	background-image: url(../img/bg_button.png);
	background-repeat: repeat-x;
	border: 1px solid #22468C;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 0 8px;
	text-decoration: none;
}

.themeaction {
	float: left;
	width: 100%;
	margin: 4px 0px;
}

.button2 {
	background-color: #4070CF;
	background-image: url(../img/bg_button.png);
	background-repeat: repeat-x;
	border: 1px solid #22468C;
	color: #FFFFFF;
	link: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 5px;
	text-decoration: none;
}
.button2_selected {
	background-color: #4070CF;
	background-image: url(../img/bg_button.png);
	background-repeat: repeat-x;
	border: 1px solid #22468C;
	color: #FFC56C;
	link: #FFC56C;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 5px;
	text-decoration: none;
}
label{
	background-color: #F9F9F9;
	display: block;
	float: left;
	font-weight: bold;
	padding: 4px;
	width: 140px;
}

form p{
	clear: left;
}

fieldset{
	padding: 10px;
}

legend{
	font-size: 16px;
	font-weight: bold;
}
.inputgroup{
	margin-left: 155px;
}

/*-------------------- layout---------------------*/ 
#container {
	background-color: #FFFFFF;
	margin: 0px auto;
	width: 780px;
}

/* only IE mac will see this */
* html>body #container{
	width: 800px;
}

#main {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	width: 540px;
}

.fullcontent{
	clear: both;
	padding: 10px 20px;
	margin:10px 0;
	background-image: url(../img/bg_fullwidth.png);
	background-repeat: no-repeat;
}

#header {
	padding: 0px;
}

#sidebar {
	float: right;
	margin-top: 10px;
	width: 230px;
}

#footer {
	background-image: url(../img/bg_footer.png);
	background-repeat: no-repeat;
	clear: both;
	font-size: 12px;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
	width: 100%;
}

#info{
	color: #666666;
	font-size: 12px;
	line-height: 1.2em;
	padding: 10px 20px;
}

/*-------------------- header---------------------*/ 
#header #logo{
	float: left;
	width: 230px;
}

#header h1{
	float: left;
	margin: 0;
	padding: 0;
}

#header h2{
	color: #3060C1;
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#header h1 a{
	background-image: url(../img/gr_logo_scratchr.png?v=1);
	background-repeat: no-repeat;
	float: left;
	height: 60px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	width: 230px;
}

#userbar{
	background-image: url(../img/bg_userbar.png);
	background-repeat: no-repeat;
	float: left;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	margin: 0 10px;
	padding: 0 10px;
	width: 280px;
}

#userbar a{
	font-weight: bold;
}

#searchbar{
	background-image: url(../img/bg_searchbar.png);
	background-repeat: no-repeat;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	width: 210px;
}

#searchbar input{
	max-width: 124px;
}

#logincontainer{
	width:770px;
	text-align: center;
	background-image: url(../img/bg_footer.png);
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 0px;
	padding: 10px 5px 5px 5px;
	position: relative;
}

#notificationcontainer{
	width:770px;
	text-align: center;
	background-image: url(../img/bg_footer.png);
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 0px;
	padding: 15px 5px 5px 5px;
	position: relative;
}

#announcement{
	float: left;
	width:770px;
	text-align: center;
	background-image: url(../img/bg_footer.png);
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 0px;
	padding: 10px 5px 5px 5px;
	position: relative;
}

/*-------------------- nav---------------------*/ 
#nav {
	background-color: #3060C1;
	background-image: url(../img/bg_nav.png);
	background-repeat: no-repeat;
	float: right;
	margin: 0 0 10px 0;
	padding: 0 5px;
	width: 530px;
}

#nav li {
	float: left;
	list-style-type: none;
}

#nav a{
	border-right: 1px solid #22468C;
	color: #E7EBF7;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	padding: 2px 6px;
	text-decoration: none;
}

#nav a:hover{
	color: white;
}

#nav #langselect{
	float: right;
	margin-top: 2px;
}

#nav select{
	font-size: 12px;
}

#nav #active a{
	color: #FFC56C;
}

/*-------------------- main---------------------*/ 
.flag_comment, .flag_comment a, .flag_comment a:visited {
        font-size: 10px;
        color: #9CA2A5;
}

.container{
	background-image: url(../img/bg_container.png);
	background-repeat: no-repeat;
	clear: both;
	margin-bottom: 10px;
	min-height: 80px;
	overflow: auto;
	padding: 5px 10px 10px 10px;
	position: relative;
}
.mystuff_container {
	background-image: url(../img/bg_container.png);
	background-repeat: no-repeat;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.mystuff_project_action {
	text-align: right;
	
	margin-left: 10px;
	margin-bottom: 5px;
}
.mystuff_header {
	float: left;
	width: 85%;
	margin-left: 10px;
	margin-top: 2px;
}
.more{
	float: right;
	font-size: 14px;
	font-weight: bold;
}

.more a{
	background-image: url(../img/bullet_more.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 18px;
}

.container .more{
	margin-bottom: 0;
	padding-bottom: 0;
	position: absolute;
	right: 10px;
	top: 5px;
}

.thumb{
	background-image: url(../img/bg_thumb.png);
	background-position: bottom;
	background-repeat: no-repeat;
	clear: none;
	float: left;
	font-size: 11px;
	line-height: 1em;
	margin: 5px 9px 10px 10px;
	width: 150px;
}

.ignored_thumb {
	clear: none;
	float: left;
	font-size: 11px;
	line-height: 1em;
	margin: 5px 9px 10px 10px;
	width: 150px;
}

.mystuff_thumb {
	background-image: url(../img/bg_thumb.png);
	background-position: bottom;
	background-repeat: no-repeat;
	float: left;
	font-size: 11px;
	line-height: 1em;
	margin: 3px 9px 3px 7px;
	padding: 0px 3px;
	width: 150px;
}
.mystuff_thumb img {
	border: 1px solid #666666;
}
.mystuff_content {
	float: left;
	width: 100%;
}
.mystuff_projects {
	float: left;
	width: 100%;
}
.thumb img{
	border: 1px solid #666666;
}

.thumb p, .thumb h6{
	margin: 0;
	padding: 0 6px 5px 6px;
}

/*-------------------- sidecontainer---------------------*/ 
.sidecontainer{
	background-image: url(../img/bg_sidecontainer.png);
	background-repeat: no-repeat;
	min-height: 80px;
	overflow: auto;
	padding: 5px 10px 10px 10px;
}

.highlight{
	background-image: url(../img/bg_highlight.png) !important;
}

#download{
	background-image: url(../img/bg_downlaod.png);
	background-repeat: no-repeat;
	font-size: 12px;
	height: 90px;
	line-height: 1.2em;
	margin-bottom: 10px;
	padding: 10px;
	text-align: right;
}

#download h2{
	color: #FF8C00;
	margin: 0;
	padding: 0;
	text-align: center;
}

#download img{
	float: left;
	margin-right: 5px;
}

.sidelist{
	margin: 0;
	padding: 0;
}

.sidelist li{
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 2px 0;
}

.sidelist a, .gallerylist a:visited{
	color: #333333;
	font-weight: bold;
}

.sidelist a:hover{
	color: #FF8C00;
}

.sidelist img{
	border: 1px solid #333333;
	margin-right: 4px;
	vertical-align: middle;
}
#club {
	overflow: hidden;
}
#club img{
	border: 1px solid #333333;
	float: left;
	margin-right: 10px;
}

.tags a, .tags a:visited{
	color: #666666;
	text-decoration: none;
}

.tags a:hover{
	color: #FF8C00;
}

#taglist {
	margin: 0;
	padding: 0;
	list-style: none;
}

#taglist a:hover{
	color: #FF8C00;
}

/*-------------------- intro---------------------*/ 
#intro{
	background-image: url(../img/bg_intro.png);
	background-repeat: no-repeat;
	font-size: 11px;
	height: 110px;
	margin-bottom: 10px;
	padding: 0 9px;
}

.step{
	color: white;
	float: left;
	font-weight: bold;
	height: 90px;
	line-height: 1.1em;
	margin: 10px 12px;
	position: relative;
	text-align: center;
	width: 150px;
	
}

.step img{
	margin: 4px 6px;
}

.step p{
	bottom: 0;
	left: 2px;
	position: absolute;
	width: 144px;
	padding: 5px 2px;
}

.stepimg{
	display: inline;
	float: left;
}

/*-------------------- project page---------------------*/ 
#project img, #project applet, #project object, #project embed{
	display: block;
	margin: 0 auto;
}

#notes{
	background-image: url(../img/bg_notes.png);
	background-repeat: no-repeat;
	min-height: 80px;
	overflow: hidden;
	padding: 5px 10px 10px 10px;
	width: 210px;
}

#notes:hover {
	overflow: auto;
}

#notes h3{
	background-image: url(../img/ic_notes.gif);
	background-repeat: no-repeat;
	line-height: 28px;
	padding-left: 30px;
}

#notes p{
	margin: 0 10px;
}

#projectinfo{
	min-height: 90px;
	padding: 5px 10px 10px 10px;
}

#projectinfo h3{
	background-image: url(../img/ic_info.png);
	background-repeat: no-repeat;
	line-height: 28px;
	padding-left: 30px;
}

#projectinfo h6{
	font-weight: normal;
	margin: -5px 0 5px 0;
}

#projectinfo img{
	border: 1px solid #666666;
	margin-left: 5px;
	vertical-align: middle;
}

.love{
	background-image: url(../img/ic_love.png);
	background-repeat: no-repeat;
	padding-left: 28px;
}

.loveyes{
	background-image: url(../img/ic_loveyes.png);
	background-repeat: no-repeat;
	padding-left: 28px;
}

#comments{
	clear: both;
	width: 520px;
}

#comments h3{
	background-image: url(../img/ic_comments.gif);
	background-repeat: no-repeat;
	line-height: 28px;
	padding-left: 30px;
}

#comments h3 a{
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	line-height: 28px;
	padding-bottom: 2px;
	padding-left: 12px;
}

.comment{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #999999;
	padding: 5px;
	overflow: hidden;
	float: left;
	width: 95%;
}
.comment_1{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #999999;
	padding: 5px;
	margin-left: 5%;
	overflow: hidden;
	float: left;
	width: 90%;
}
.comment_2{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #999999;
	padding: 5px;
	margin-left: 5%;
	overflow: hidden;
	float: left;
	width: 90%;
}


.comment:hover {
	overflow: auto; 
}

.comment h5 img{
	border: 1px solid #666666;
	margin-right: 5px;
	vertical-align: middle;
}

.comment h5 a{
	color: #333333;
}

.comment h5 a:hover{
	color: #FF8C00;
}

#projectdown h3{
	letter-spacing: -1px;
	line-height: 1em;
	padding-bottom: 10px;
}

#projectdown img{
	border: none;
	float: right;
	margin: 0 0 0 5px;
}

.projectlist{
	margin: 0;
	padding: 0;
}

.projectlist li{
	clear: left;
	list-style: none;
	margin: 0;
	padding: 0 0 2px 0;
}

.projectlist img{
	border: 1px solid #666666;
	clear: left;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}

.projectlist a{
	color: #333333;
	font-weight: bold;
}

.projectlist a:visited{
	color: #4A4A4A;
}

.projectlist a:hover{
	color: #FF8C00;
}

#licenseDiv a, a:link {
	color: grey;
}

#licenseDiv a:hover, a:visited:hover {
	color: #2A54AA;
}

#flagDiv a, a:link {
	color: #2A54AA;
}

#flagDiv a:hover, a:visited:hover {
	color: #2A54AA;
}

#gallerylistDiv {
	clear: both;
}

#morenotes{
	clear: right;
}

#moreproj{
	clear: right;
}

#licenseDiv {
	float: right;
	padding: 0;
}

#licenseDiv img {
	border: 0;
	margin: 0;
}

#whowhen {
	float: left;
}

#creation {
	width: 500px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}

#pactivity {
	clear: both;
	padding-top: 10px;
	width: 480px;
}

#pactions {
	clear: both;
	padding-top: 10px;
	width: 480px;
}

#loveitDiv {
	float: left;
	vertical-align: middle;
}

#favoriteDiv {
	float: left;
	padding-left: 40px;
}

#flagDiv {
	float: right;
	text-align: right;
	padding-left: 40px;
}

.projectsharesub {
	border-top:1px solid;
}

#share a {
	text-decoration: none;
}

#share a:hover {
	color: #0000ff;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

/*-------------------- user page ---------------------*/
#userside{
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	width: 230px;
}

#usermain {
	float: left;
	margin-top: 10px;
	width: 540px;
}

#user h3{
	line-height: 1em;
	padding-bottom: 10px;
}

#user img{
	border: 1px solid #666666;
	float: right;
	margin: 0 0 0 5px;
}

/*-------------------- howto---------------------*/ 
.howto{
	background-image: url(../img/bg_howto.png);
	background-repeat: no-repeat;
	float: left;
	margin: 10px 0 10px 10px;
	min-height: 120px;
	padding: 5px 10px;
	width: 232px;
}

.howto img{
	display: block;
	margin: 0 auto;
}

.howfirst{
	clear: left;
	margin-left: 2px !important;
}

hr{
	background-color: #FFFFFF;
	border: none;
	clear: both;
	color: white;
	height: 1px;
}

/*-------------------- twocolum---------------------*/ 
.twocolum{
	background-repeat: no-repeat;
	float: left;
	margin: 10px 0 10px 10px;
	min-height: 120px;
	padding: 5px 10px;
	width: 333px;
}

.twocolum img{
	display: block;
	margin: 0 auto;
}

.twocolumfirst{
	clear: left;
	margin-left: 2px !important;
}

hr{
	background-color: #FFFFFF;
	border: none;
	clear: both;
	color: white;
	height: 1px;
}

/*-------------------- sign up---------------------*/
.fullwidth{
	background-image: url(../img/bg_fullwidth.png);
	background-repeat: no-repeat;
	padding: 20px 30px !important;
	width: 730px!important;
}

#signupform{
	float: right;
}

#loginform {
	float: left;
	width: 100%;
}

#loginform p.right {
	min-width: 300px !important;
}

#signupform p.right {
	min-width: 320px !important;
}
.signup_label {
	float: left;
	width: 33%;
	height: 100%;
	margin-right: 10px;
	text-align: left;
}
.signup_input {
	float: left;
	width: 55%;
	height: 100%;
}
.signup_row {
	float: left;
	width: 90%;
	height: 30px;
	margin-left: 15px;
}
.signup_row, label {
	background-color: #F9F9F9;
	display: block;
	float: left;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.signup_error_wrapper {
	float: left;
	height: 20px;
	width: 100%;
	display: block;
	margin-bottom: 2px;
}
.signup_error {
	float: left;
	margin-left: 31%;
	width: 55%;
	height: 100%;
	background: url(../img/signup_error.png) no-repeat;
	font-size: small;
	color: #FF0000;
	padding-left: 20px;
	display: block;
}
.signup_info {
	float: left;
	margin-left: 31%;
	width: 55%;
	background: url(../img/signup_info.jpg) no-repeat;
	font-size: small;
	padding-left: 20px;
	display: none;
}
.signup_header {
	float: left;
	margin-bottom: 10px;
}
/*-------------------- gallery---------------------*/ 
.gallerythumb{
	margin:10px 0;
	padding:10px;
	clear:both;
	border-bottom:1px solid #E6E6E6;
	border-top:1px solid #E6E6E6;
	background-color: #FCFCFC;
}
.gallerythumb img{
	float:left;
	margin-right:10px;
	border: 1px solid #666666;
}
.gallerythumb p{
	margin-left:158px;
	padding:0;
}

.prevlink{	
	background-image: url(../img/bg_prev.png);
	background-repeat: no-repeat;
	padding-left: 12px;
	margin-right:12px;
	color:#333333;
	background-position: left bottom;
	font-weight: bold;
}
.nextlink{	
	background-image: url(../img/bg_next.png);
	background-repeat: no-repeat;
	padding-right: 12px;
	margin-left:12px;
	color:#333333;
	background-position: right bottom;
	font-weight: bold;
}

/*-------------------- download ---------------------*/ 
#downform label{
	width: 200px;
	margin-left: 40px;
	display:inline;
}
#downform .inputgroup{
	margin-left: 280px;
}

.twocolumn {
	float: left;
	margin: 10px 0 10px 10px;
	min-height: 120px;
	padding: 5px 10px;
	width: 340px;
}

.twocolumnfirst{
	clear: left;
	margin-left: 2px !important;
}

.middlestuff {
	float: left;
	margin: 10px 0 10px 10px;
	min-height: 120px;
	padding: 5px 10px;
	width: 500px;
	text-align: center;

}

/*--------------explorer-bars-------------------*/
.browseDiv{
  margin-top:8px;
  margin-bottom:8px;}
.browseHeader{
  background:#DFDFDF;
  display:block;
  height:32px;
  overflow:hidden;}
.browse{display:block}
.browse *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#DFDFDF}
.browse1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #f1f1f1;
  border-right:1px solid #f1f1f1;
  background:#e7e7e7}
.browse2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fbfbfb;
  border-right:1px solid #fbfbfb;
  background:#e5e5e5}
.browse3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;}
.browse4{
  border-left:1px solid #f1f1f1;
  border-right:1px solid #f1f1f1}
.browse5{
  border-left:1px solid #e7e7e7;
  border-right:1px solid #e7e7e7}
.browsefg{
  background:#DFDFDF}
  

  
/*-------------flash-messages----------------*/
.message {
	float: middle;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 15px 5px 5px 5px;
	position: relative;

    width:300px;
    font-size:14px;
    border: solid 1px #c9b484;
    border-top:0px;
    padding:12px;
    color:#000;
    background-color:#fff9d9;
    text-align:center;
}

#noticeMessage {
    background-color:#fff9d9;
}

#errorMessage {
    background-color:red;
}

/*---------------Admin--------------------*/
.admin_leftcolumn {
	width: 50%;
	font-size: 14px;
	float: left;
}

.admin_rightcolumn {
	width: 50%;
	font-size: 14px;
	float: left;
}

.admin_details_navigation {
	  list-style: none;    
	  padding:0;     
	  margin-left: 1%; 
	  margin-right: 1%; 
	  float: left;
}

.admin_details_navigation_user {
	  list-style: none;    
	  padding:0;     
	  margin-left: 2%; 
	  margin-right: 2%; 
	  float: left;
}


.admin_tabs {
	float: left;
	margin-bottom: 10px;
}

.admin_tab_link {
	text-decoration:none;
}
.admin_tab_link_active {
	text-decoration:none;
	font-weight: bold;
}
#admin_project_data {
	margin-top: 20px;
}

#admin_info {
	clear: both;
	padding: 15px 20px;
	background-image: url(../img/bg_fullwidth.png);
	background-repeat: no-repeat;
}

.admin_pagination {
	float: left;
	width: 70%;
	clear: both;
}

.admin_search {
	float: left;
	text-align: center;
	clear: both;
}

.admin_flash {
	float: left;
	text-align: center;
	align: center;
	margin-left: 30%;
	margin-right: 30%;
}

.admin_selected_tab {
	font-weight: bolder;
}

/*-------Gallery------------*/
.gallery_pagination_container {
	float: left;
	width: 100%;
}
.project_pagination_container {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
#gallery_comments {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.gallery_content {
	background-image: url(../img/bg_fullwidth.png);
	background-repeat: no-repeat;
	width: 100%;
	float: left;
	margin-top: 10px;
	padding: 5px 5px;
}
.gallery_content_header {
	padding-left: 2px;
	clear: both;
	width: 98%;
}	
.gallery_permission_option {
	float: left;
	margin: 3px;
}
#gallery_permission_content {
	float: left;
}
#gallery_permission_predefined {
	text-align: center;
	padding-bottom: 5px;
	width: 100%;
	padding-left: 15px;
	margin-bottom: 20px;
	float: left;
}
#gallery_permission_advanced {
	float: left;
	width: 100%;
	display: block;
}
#gallery_advanced_link {
	float: left;
	width: 100%;
	text-align: center;
}
#gallery_advanced_show {
	width: 30%;
	text-align: center;
	margin: auto;
	display: block;
}
#gallery_advanced_hide {
	width: 100%;
	text-align: center;
	margin: auto;
	display: none;
}
.gallery_user_list {
	float: left;
	padding: 2px;
	border: 1px solid #E6E6E6;
	text-align: center;
	margin: 5px;
	width: 70px;
}

.gallery_permissions_search {
	float: left;
	width: 30%;
	text-align: center;
	margin-top: 15px;
	height: 100px;
}

.gallery_permissions_results {
	float: left;
	width: 50%;
	text-align: center;
	margin-top: 15px;
	margin-left: 20px;
	height: 100px;
}

#gallery_menu {
	float: left;
	width: 100%;
	margin-top: 5px;
	padding-left: 2px;
	margin-bottom: 20px;
}

.bottomcontent {
	clear: both;
	padding: 10px 20px;
	background-image: url(../img/bg_fullwidth.png);
	margin-top: 27px;
	background-repeat: no-repeat;
}

#gallery_view_menu {
	margin-top: 7px;
	padding-bottom: 7px;
}

#gallery_view_projects {
	padding-top: 7px;
}
.gallery_create_tag_row {
	float: left;
	width: 40%;
	margin-right: 5px;
}
.gallery_create_form {
	float: left;
	width: 90%;
	padding: 3px;
	margin-top: 5px;
	text-align: left;
}
.gallery_create_error {
	float: left;
	width: 60%;
	height: 40px;
	margin-left: 32%;
	color: #FF0000
}

.gallery_create_submit {
	float: left;
	text-align: center;
	width: 90%;
	margin-top: 10px;
}
	
.gallery_create_item_left {
	float: left;
	margin-right: 10px;
	width: 30%;
}

.gallery_create_item_right {
	float: left;
	margin-left: 10px;
	width: 60%;
}

/*------Popup Div----------*/
#errorbox {
	display: none;
	background-color:#FFFFFF;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	overflow : auto;
}
#addbox {
	display: none;
	background-color:#FFFFFF;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	overflow : auto;
}
#removebox {
	display: none;
	background-color:#FFFFFF;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	overflow : auto;
}
#gallerybox {
	display: none;
	background-color:#FFFFFF;
	padding: 10px;
	border: 2px solid #666;
	width: 480px;
	height: 200px;
	margin-top: 10px;
	float: left;
	overflow:auto; 
	overflow-x:hidden; 
}
#addprojectmember {
	float: left;
	width: 100%;
	margin: 4px 0px;
}
#removeprojectmember {
	float: left;
	width: 100%;
	margin: 4px 0px;
	display: none;
}

#overlay{ background-image: url(../img/overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/overlay.png", sizingMethod="scale");
	}
	

.gallery_pagination {
	float: left;
	width: 70%;
	padding-bottom: 5px;
}

#gallery_projects {
	float: left;
	width: 90%;
	margin-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
}
.gallerypopup {
	clear: both;
	float: left;
	width: 100%;
}
.gallery_popup_button {
	clear: both;
	text-align: center;
	margin-top: 6px;
	float: left;
	cursor: pointer;
	margin: auto;
	width: 97%;
	float: left;
	margin-top: 10px;
}
.gallery_header {
	float: left;
	width: 95%;
	margin-left: 5%;
}
.gallery_centered_button {
	cursor: pointer;
	background-color: #4070CF;
	background-image: url(../img/bg_button.png);
	background-repeat: repeat-x;
	border: 1px solid #22468C;
	color: #FFFFFF;
	link: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 5px;
	text-decoration: none;
	margin: auto;
	width: 20%;
	text-align: center;
}
#gallery_project_add {
	float: left;
}
.project_connect_header {
	float: left;
}
.project_connect_content {
	float: left;
	width: 100%;
	margin-top: 12px;
}
.gallery_connect_item {
	cursor: pointer;
	float: left;
	width: 44%;
	height: 20%;
	padding: 3px;
	margin-top: 6px;
	border: 1px solid #FFFFFF;
}
.gallery_connect_item:hover {
	cursor: pointer;
	float: left;
	width: 44%;
	height: 20%;
	padding: 3px;
	margin-top: 6px;
	border: 1px solid #E6E6E6;
}
.gallery_addproject_item {
	cursor: pointer;
	float: left;
	width: 48%;
	height: 20%;
	padding: 3px;
	border: 1px solid #FFFFFF;
}
.gallery_addproject_item:hover {
	cursor: pointer;
	float: left;
	width: 48%;
	height: 20%;
	padding: 3px;
	border: 1px solid #E6E6E6;
}
.addtogalleryitem {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #E6E6E6;
	background-color: #FCFCFC;
	width: 23%;
	float: left;
	text-align: center;
	height: 23%;
	padding: 0px 2px 0px 2px;
	margin: 2px;
}
.gallery_connect_img {
	float: left;
}
.gallery_connect_text {
	float: left;
	padding-top: 2px;
}
.gallery_addproject_img {
	float: left;
	padding-top: 2px;
}
.gallery_addproject_text {
	float: left;
}
.clean_img {
	float: left;
	margin-right: 37px;
	border-width: 0px;
	border: 1px solid #666666;
	margin-left: 5px;
	vertical-align: middle;
}
.radio_button {
	border: 0;
}
#gallery_advanced_link {
	float: left;
	width: 100%;
	text-align: center;
}
/*-----------Project Update------------*/
.project_commands {
	float: left;
	margin-right: 20px;
}

#project_admin_top {
	float: left;
}

#project_admin_bottom {
	float: left;
	margin-top: 10px;
	width: 90%;
}
#project_admin_censor {
	float: left;
	margin-top: 10px;
	width: 90%;
	margin-bottom: 10px;
}
#project_admin_notsafe {
	float: left;
	margin-top: 10px;
	width: 90%;
}
#admin_notes_form {
	margin-bottom: 10px;
	margin-left: 5px;
}

/*-------------Pagination-------------------*/
.pagination{
	float: left;
	text-align: right;
	width: 100%;
	margin-bottom: 5px;
}
.pagination_container {
	float: left;
	width: 96%;
}
.pagination_pages {
	float: left;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
}
.pagination_arrrow {
	float: left;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
}
/*------------MyStuff-------------------*/
.mystuff_friend_thumb {
	margin: 4px 0px;
	padding: 5px 4px;
	float: left;
	border-bottom:1px solid #E6E6E6;
	border-top:1px solid #E6E6E6;
	background-color: #FCFCFC;
	width: 12%;
	margin-left: 2px;
}
.mystuff_gallery_thumb {
	margin: 4px 0px;
	padding: 5px 4px;
	float: left;
	border-bottom:1px solid #E6E6E6;
	border-top:1px solid #E6E6E6;
	background-color: #FCFCFC;
	width: 20%;
	margin-left: 10px;
}
.gallery_name {
	font-size: small;
	font-weight: bold;
}
.gallery_name_small {
	font-size: small;
}
.gallery_name_italic {
	font-size: small;
	font-style: italic;
}
/*------------Tagging------------*/
.tag_size_1 {
	font-size: small;
}

.tag_size_2 {
	font-size: medium;
}

.tag_size_3 {
	font-size: large;
}

.tag_size_4 {
	font-size: x-large;
}
.top_header {
	width: 100%;
}
.notification_read {
	font-size: smallest;
}
.notification_unread {
	font-style: bold;
	font-size: large;
}
/*------------Language Menu---------*/

#nav select{
	border: none;
	font-size: 10px;
	margin: 0px;
	margin-top: 4px;
	width: 60px;
}
#nav {
	padding: 0px 2px 0px 0px;
	width: 538px;
}
#searchbar input.search {
	max-width: 70px;
	width: 70px;
	height: 22px;
	padding-top: 0px;
	padding-bottom: 3px;
	margin-top: 2px;
}
/*----------Sprites---------*/
#sprite_upload_left {
	margin-left: 2%;
	width: 35%;
	padding: 5px;
	height: 280px;
	float: left;
}
#sprite_upload_right {
	margin-left: 3%;
	width: 55%;
	padding: 5px;
	height: 280px;
	float: left;
}
.sprite_upload_row {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.form-input {
	width: 15em;
	border: 1px solid #c0c0c0;
}
.form-input-narrow {
	width: 7em;
	border: 1px solid #c0c0c0;
}
#sprite_upload_tags {
	float: left;
}
#sprite_upload_contributors {
	float: left;
}
#sprite_download h3{
	letter-spacing: -1px;
	line-height: 1em;
	padding-bottom: 10px;
}
#sprite_download img{
	border: none;
	float: right;
	margin: 0 0 0 5px;
}
#sprite_image_container {
	width: 100%;
	height: 350px;
}
#sprite_image {
	position: relative;
}
#sprite_main {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	width: 540px;
}
/*************Comment Reply *************/
.comment_error {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
}
.gallery_comment_reply_frame {
	margin-top: 5px;
	display: none;
	position: relative;
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 5px;
}
.gallery_comment_reply_main {
	width: 90%;
	margin-left: 4%;
}
.project_comment_reply_frame {
	margin-top: 5px;
	display: none;
	position: relative;
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 5px;
}
.project_comment_reply_main {
	width: 90%;
	margin-left: 4%;
}
#reply_to_popup {
	position: absolute;
	display: none;
	z-index: 60;
	background-color: #FFFFFF;
}
.comment_reply_main {
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	display: none;
	padding-top: 5px;
}
.comment_reply_main_visible {
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	display: block;
	padding-top: 5px;
}
.visible_element {
	display: inline;
}
.hidden_element {
	display: none;
}
.tag_actions {
	display: inline;
	font-size: xx-small;
	color: #AAAAAA;
}
/**************Ignore User****************/
#ignore_user_content {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
#ignore_user_error {
	width: 100%;
	float: left;
	margin-top: 10px;
}
#ignore_user_list {
	width: 100%;
	float: left;
}
#adminActions {

}
#ignore_user_content {
}
/**********Gallery Connect***************/
.gallery_connect_button {
	margin-right: 5px;
}

/******************Password recovery***********/

#success_msg .message{
text-align:left;
background:none;
border:none;
color:#336633;
}

.password_recover_header{
	color: #333333;
	font-size: 16px;
	font-weight: normal;
	margin: 5px 0 5px 0;
	padding: 0;
}

.checkbox{
clear:both;
margin-top:10px;
}
.checkbox input{
float:left;
margin-right:10px;
}
.checkbox label{
width:400px;
float:left;
}
.permission_submit{
clear:both;
width:636px;
margin-left:20px;
}
.permission_submit input{
margin-top:10px;
}

#flash_error{
float: left;
	width:770px;
	text-align: center;
	background-image: url(../img/bg_footer.png);
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 0px;
	padding: 10px 5px 5px 5px;
	position: relative;
}

#flash_error .message{	

	
background:none;
border:none;
color:#FF0000;
margin:0;
padding:0;
width:770px;
}


/*********tagger*********/
.tagger{
	width:350px;
	float:left;
	margin-bottom:5px;
	margin-top:5px;
}

.tagger .user {
	width:100px;
	float:left;
	text-align:center;
}
.tagger .tags{
	float:left;
	width:200px;
}

.clearer {
	height:0;
	font-size:0pt;
	margin:0;
	padding:0;
	clear:both;
}
/*********tagger*********/